html{
    font-size: 18px;
}
header {
    display: flex;
    justify-content: center;
}
.clickCounter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.clickCounter-container #incrimentButton {
    font-size: 14px;
}